* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0088cc;
}

.intro {
  border-bottom: 1px solid #ccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav-list__item {
  list-style: none;
}

.nav-list__link {
  text-decoration: none;
  color: #0088cc;
}

.nav-list__link:hover {
  border-bottom: 4px solid #179cde;
  padding-bottom: 12px;
  border-top-right-radius: 2px;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.tasks-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #0088cc;
}

.main {
  max-width: 1028px;
  margin: 0 auto;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.logo {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0 20px;
  text-align: center;
}

.logo-title {
  color: #646464;
  font-weight: 600;
}

.logo-description {
  font-size: 20px;
  line-height: 148%;
  max-width: 285px;
  color: #8c8c8c;
  margin: 0 auto;
  padding: 1px 0 10px;
  text-align: center;
  font-weight: 300;
}

.line {
  width: 5px;
  background: #179cde;
  height: 200px;
  border-radius: 30px;
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.side-group__text {
  color: #0088cc;
  font-size: 12px;
  max-width: 150px;
  line-height: 20px;
  margin-bottom: 10px;
}

.side-group__title {
  color: #0088cc;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.icon {
  max-width: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_large {
  text-align: center;
  font-weight: normal;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
  margin-top: 50px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.img {
  width: 400px;
  height: auto;
}

.text {
  padding: 15px 0px;
  line-height: 24px;
  max-width: 400px;
}

.categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 50px 0px;
}

.example {
  text-align: center;
}

.example__img {
  max-width: 300px;
}

.example__title {
  color: #0088cc;
}

.example__text {
  color: #333;
  line-height: 158%;
}

.footer {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px;
}

.author {
  max-width: 294px;
}

.author__title {
  color: #333;
  margin-bottom: 10px;
}

.author__text {
  font-size: 13px;
  line-height: 24px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.menu-list__title {
  font-size: 15px;
  margin-bottom: 5px;
  color: #333;
}

.menu-list__link {
  margin-top: 5px;
  font-size: 14px;
}

.menu-list__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */